<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de-CH">
<head th:replace="~{header :: jscssinclude}"><title>Control Plane Demo</title></head>
<bal-navbar th:fragment="navbar">
    <bal-navbar-brand href="/">Control Plane Demo</bal-navbar-brand>
    <bal-navbar-menu>
        <bal-navbar-menu-start>
            <bal-button th:href="@{/todos}">My Todos</bal-button>
        </bal-navbar-menu-start>
        <bal-navbar-menu-end>
            <bal-button-group>
                <bal-tag sec:authorize="isAuthenticated()" color="success" th:text="${currentUser}"></bal-tag>
                <bal-button sec:authorize="isAnonymous()" color="tertiary-green" href="/oauth2/authorization/azure">Sign in</bal-button>
                <form action="#" th:action="@{/logout}" method="post">
                    <button class="button is-tertiary-red" type="submit" sec:authorize="isAuthenticated()">Sign out</button>
                </form>
            </bal-button-group>
        </bal-navbar-menu-end>
    </bal-navbar-menu>
</bal-navbar>
</html>